<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Fotoblog</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
  </ul>
{% endif %}
    <h1>FotoBlog</h1>
    {% block content %}{% endblock content %}
    {%  if user.is_authenticated %}
        <p>Vous êtes connecté en tant que {{ request.user }}
        <a href="{% url 'authentication:logout' %}">Se deconnecter</a> </p>
    {% endif %}
</body>
</html>